<div class="row">

  <div class="col-md-8 questionCard mb-4">

    <div id="resultText"></div>

    <div class="quesCard" id="quesCard"></div>
    <div class="quesBtn mt-1 text-center">
      <button class="btn btn-lg btn-primary w-20 mt-3" type="submit" onclick="previousQues()">Previous</button>
      <button class="btn btn-lg btn-primary w-20 mt-3" type="submit" onclick="nextQues()">Next</button>
    </div>
  </div>

  <div class="col-md-4 questionPad text-center">
    <div class="quesTable" id="quesTable"></div>
    <button onclick="checkQuestionPaper()" id="checkQuesBtn" class="btn btn-lg btn-primary mt-3">Review & Submit</button>
  </div>


  </div>
</div>
